<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2><%= title %></h2>
    <form method="POST" action="<%= actionPath %>/delete?_method=DELETE">
      <div class="form-group">
        <label for="delete-folder" class="form-label">
          Are you sure you want to delete this <%= alertMessage %>?
        </label>
      </div>
      <button type="submit" class="danger-button">Yessir</button>
      <a href="/">
        <button class="secondary-button" type="button">Hell Naw</button>
      </a>
    </form>
  </body>
</html>
