<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2 class="title"><%= title %></h2>
      <form method="POST" action="<%= actionPath %>/delete?_method=DELETE">
        <div class="form-group">
          <label for="delete-folder" class="form-label delete-label">
            Are you sure you want to delete this <%= alertMessage %>?
          </label>
        </div>
        <div class="button-group">
          <button type="submit" class="primary-button button">Yessir</button>
          <a href="/">
            <button class="secondary-button button" type="button">
              Hell Naw
            </button>
          </a>
        </div>
      </form>
    </main>
  </body>
</html>
