<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2><%= title %></h2>
    <div class="options-container">
      <a href="/folders/<%= folderId %>/upload" class="nav-link">
        Upload File
      </a>
    </div>
    <ul class="files-container">
      <% if (locals.files.length > 0) { files.map((file) => { %>
      <li>
        <a href="/files/<%= file.id %>"><%= file.name %></a>
        <a href="/files/<%= file.id %>/delete"><button>Delete</button></a>
      </li>
      <% }) } else { %>
      <p>This folder is empty</p>
      <% } %>
    </ul>
  </body>
</html>
