<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2>Welcome!<%= currentUser ? ", " + currentUser.firstName : "" %></h2>
    <% if (!currentUser) { %>
    <p>
      Please sign up to continue or log in if you already have an account :D
    </p>
    <% } else { %>
    <div class="options-container">
      <a href="/folders/create" class="nav-link">Create Folder</a>
      <a href="/files/upload" class="nav-link">Upload File</a>
    </div>
    <div class="files-conatiner">
      <% if (locals.folders) { folders.map((folder) => { %>
      <a href="/folders/<%= folder.id %>"><%= folder.name %></a> <% }) } %>
    </div>
    <% } %>
  </body>
</html>
