<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2>Welcome!<%= currentUser ? ", " + currentUser.firstName : "" %></h2>
    <% if (!currentUser) { %>
    <p>
      Please log in to continue or sign up if you don't have an account yet :D
    </p>
    <% } else { %>
    <div class="options-container">
      <a href="/folders/create" class="nav-link">Create Folder</a>
      <a href="/files/upload" class="nav-link">Upload File</a>
    </div>
    <ul class="folders-conatiner">
      <% if (locals.folders) { folders.map((folder) => { %>
      <li>
        <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
        <a href="/folders/<%= folder.id %>/edit"><button>Edit</button></a>
        <a href="/folders/<%= folder.id %>/delete"><button>Delete</button></a>
      </li>
    </ul>
    <ul class="files-container">
      <% }) } %> <% if (locals.files) { files.map((file) => { %>
      <li>
        <a href="/files/<%= file.id %>"><%= file.name %></a>
        <a href="/files/<%= file.id %>/delete"><button>Delete</button></a>
      </li>
      <% }) } %>
    </ul>
    <% } %>
  </body>
</html>
